/*Normal CSS*/

body {
    margin: 0;
    padding: 0;
    font-family: 'getPixeled', Arial, Helvetica, sans-serif; /* Assuming 'getPixeled' is your custom font */
    background-color: #0f0111;
    color: #c7c2c2;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: inherit;
}


p {
    margin-top: 0;
    margin-bottom: 1rem;
}


a {
    color: #800020;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

a:active {
    color: #BF40BF;
}


ul, ol {
    margin-top: 0;
    margin-bottom: 1rem;
}


img {
    max-width: 100%;
    height: auto;
}


section {
    margin-top: 0;
    margin-bottom: 1rem;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


main {
    margin: 0 auto;
    max-width: 800px; /* Adjust as needed */
    padding: 20px;
}


footer {
    text-align: center;
    padding: 20px;
}
